name: Run R Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: r-lib/actions/setup-r@v1
      with:
        r-version: '3.5.3' # The R version to download (if necessary) and use.
    - name: Install Packages
      run: Rscript -e 'install.packages(c("readr", "magrittr", "testthat", "here"), Ncpus = 2, repos = "https://demo.rstudiopm.com/cran/__linux__/centos7/latest")'
    - name: Get current directory
      run: pwd
    - name: Run testthat
      with: 
        mapbox_key: ${{ secrets.MAPBOX_API_KEY }}
      run: Rscript run_tests.R mapbox_key
